node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

.env.*

.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.model-cache/
